@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.tipografia {
    font-family:"cursive";
}
.cero {
    font-size: 1.5em; /* 1.5 veces el tamaño de fuente del elemento padre */
}

.Cafe {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 10vh;
}

body {
    background-color:  #cfcff3
}

.Texto {
    font-family: "Montserrat", sans-serif;

}

.Primer-parrafo {
    font-size: 1.5em; /* 1.5 veces el tamaño de fuente del elemento padre */
    font-family: "Montserrat", sans-serif;
}

.Segundo-parrafo {
    font-size: 1.5em; /* 1.5 veces el tamaño de fuente del elemento padre */
    font-family: "Montserrat", sans-serif;
        }



.contenedor-1 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 30vh;           /* Ajusta la altura del contenedor según sea necesario */
    
    
}



.contenedor-Bienvenidos {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center ;    /* Centra verticalmente */
    height: 80vh;          /* Ajusta la altura del contenedor según sea necesario, por ejemplo, evita que quede encima de textos etc */
   
}

.contenedor-Bienvenidos img {
    
    width: 800px;
    height: 700px;
}

.Titulo-2 {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center ;    /* Centra verticalmente */
    height: 20vh;          /* Ajusta la altura del contenedor según sea necesario, por ejemplo, evita que quede encima de textos etc */
}































.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.mostrador .fila .item:hover{
    background-color: #801111;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}   
.mostrador .fila .item .descripcion{
    color: #425757;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #f85151;
    font-weight: bold;
    font-size: 20px;
}


/* segunda seccion */

.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
.cerrar{
    position: absolute;
    right: 0;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.info{
    padding: 20px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}
.info h2{
    color: #707070;
    margin-bottom: 10px;
}
.info p{
    font-size: 14px;
    color: #707070;
    margin-bottom: 10px;
}
.info .precio{
    font-size: 30px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 10px;
}
.info .fila select{
    width: 100px;
    font-size: 18px;
    padding: 6px;
    margin-right: 30px;
}
.info .fila button{
    height: 40px;
    border: none;
    padding: 0 10px;
    color: #fff;
    background-color: #f85151;
    font-family: 'Courier New', Courier, monospace;
}


.ola {
    margin-left: 0.5%;
    display: flex;
    width: 200px;
    height: 600px;
    max-width: 1840px;
    width: 150%;
}

.ola img {
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: 80;
    transition: .5s ease;
}

.ola img:hover {
    cursor: crosshair;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}